*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: linear-gradient(rgba(4,9,30,1), rgba(4,9,30,0.7)), url('images/bitXchange.io/banner.png');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
}

:root{
    --color-dark: rgb(8,61,119);
    --color-darker: rgb(46,64,87);
    --color-yellow: rgb(244,211,94);
    --color-red: rgb(218,65,103);
    --color-error: rgb(255, 0, 0);
}

.container{
    margin: auto;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.container button{
    background-color: var(--color-red);
}

button{
    background-color: var(--color-red);
}
.card{
    position: relative;
    border-radius: 10px;
    background-color: var(--color-yellow);
    box-shadow: 5px 5px 30px rgba(0,0,0, 0.4) ;
    height: 500px;
    width: 300px;
    color: #000;
    text-align: center;
    margin: auto;
}


#cardsignin{
    height: 350px;
}
.success{
    color: #2ed573;
}
.error{
    color: #ff4757;
}


.card-image-top{
    padding: 0;
    margin: -20px;
}

.btn{
    background-color: var(--color-red);
}


.chatli li{
    color: var(--color-yellow);
    background-color: blueviolet;
}
