@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 100vh;

}

:root{
    --color-dark: rgb(8,61,119);
    --color-darker: rgb(46,64,87);
    --color-yellow: rgb(244,211,94);
    --color-red: #721c24;
    --color-error: rgb(255, 0, 0);
}

.wrapper{
    background: ffff;
    max-width: 450px;
    width: 100%;
    margin: 0 20px;
    border-radius: 20px;
    box-shadow: 0 0 208px 0 rgba(4,9,30,0.7),
                0 32px 64px 48px rgba(4,9,30,0.7)

}

.wrapper .nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-darker);
    color: white;
    border-radius: 20px 20px 0 0;
    padding: 0 30px;
    height: 60px;

}
.wrapper .error-txt{
    background: var(--color-red);
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;;
}
/* login form page */

.form{
    padding: 25px 30px;
}

.form form .name-details{
    display: flex;
}

.form  .name-details .field:first-child{
    margin-right: 25px;
}

.form .name-details .field:last-child{
    margin-left: 35px;
}

.form form .field{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;
}

.form form .field label{
    margin-bottom: 2px;
}

.form form .input input {
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px var(--color-darker) solid;
}

.form form .image input{
    font-size: 18px;
}


.form form .button input {
    font-size: 18px;
    background-color: var(--color-darker);
    color: #fff;
    border-radius: 5px;
    border: 1px #fff solid;
}


.form .link{
    display: flex;
    justify-content: center;
}

.form .link a{
    border-radius: 5px;
    border: 1px var(--color-darker) solid;
    padding: 0 5px;
    margin: 0 5px;
    text-decoration: none;
    color: #333;
}

.form .link a:hover{
    transition: 1s ease-in;
    color: var(--color-red) ;
}



/* CHAT AREA */
.chat-area{
    display: flex;
    padding: 0 30px;
}


.incoming-img{
    padding: 20px 0;
    flex-direction: row;
    display: flex;
    width: 70%;
}

.incoming-msg img{
    display: flex;
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.incoming-msg .msg{
    display: block;
    background-color: #721c24;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
}

.incoming-img p{
    width: 70%;
}






.wrapper .nav img{
    object-fit: cover;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.wrapper .nav li{
    color: #fff;
    margin: 10px 30px;
}
