*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url('images/logo2.svg');
    background-size: cover;
    height: 100vh;
    background-position: center;
}

:root{
    --color-dark: rgb(8,61,119);
    --color-darker: rgb(46,64,87);
    --color-yellow: rgb(244,211,94);
    --color-red: rgb(218,65,103);
    --color-error: rgb(255, 0, 0);
}

.header{
    width: 100%;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    text-align: center;
    flex: 1;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px;
}

.nav-links li a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 1rem;

}

.nav-links li::after{
    content: " ";
    width: 3px;
    height: 4px;
    background-color: var(--color-yellow);
    display: block;
    margin: auto;
    transition: 0.7s;


}
.nav-links li:hover::after{
    width: 100px;
}


.form-container{
    color: #000;
    height: 100vh;
    background-repeat: none;
    background-size: cover;
    justify-content: center;
    align-items: center;

} 

.container{
    text-align: center;
    position: relative;
    margin: 10px auto;
    border-radius: 10px;
    background-color: var(--color-darker);
    box-shadow: 5px 5px 30px rgba(0,0,0, 0.4);
    height: 100%;
    width: 40%
}

button{
    background-color: var(--color-red);
    color: whitesmoke;
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin-top: 10px;
}

input{
    border-radius: 10px;
    width: 70%;
    height: 40px;
    border: 10px red;
}

#bgVideo{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
    margin-top: -600px;
    top: 0;
    bottom: 0;
   
}

.success{
    color: #2ed573;
}
.error{
    color: #ff4757;
}

textarea{
    width: 100%;
}
span{
    background-color: orangered;
    color: whitesmoke;
}
.chatlists{
    text-align: left;
    border-radius: 0 50px 50px 0;
    width: 50%;
    margin: 20px 0;
    color: whitesmoke;

}

#liName{
    background-color: green;
    padding-bottom: 15px;
    

}

#liMessage{
    background-color: blue;
    
}
@media (max-width: 700px) {
    .nav-links li a {
        font-size: 1rem;
    }
    .nav-links li a::after{
        display: none;
        width: 0px;
        content: 0;
    }
    .nav-links li:hover::after{
        display: none;
    }
    .container{
        width: 70%;
        margin-top: 70px;
    }
    #bgVideo{
        margin: auto;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}