@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 100vh;

}

:root{
    --color-dark: rgb(8,61,119);
    --color-darker: rgb(46,64,87);
    --color-yellow: rgb(244,211,94);
    --color-red: #721c24;
    --color-error: rgb(255, 0, 0);
}

.wrapper{
    background: ffff;
    max-width: 450px;
    width: 100%;
    margin: 0 20px;
    border-radius: 20px;
    box-shadow: 0 0 208px 0 rgba(4,9,30,0.7),
                0 32px 64px 48px rgba(4,9,30,0.7)

}

@media (max-width: 480px) {
    .wrapper{
        width: 90%;
    }
    .wrapper header .nav a{
        font-size: 12px;
    }

    .wrapper .nav{
        display: flex;
        flex-direction: row;
    }
}



.wrapper .nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-darker);
    color: white;
    border-radius: 20px 20px 0 0;
    padding: 0 30px;
    height: 60px;

}
.wrapper .error-txt{
    background: var(--color-red);
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 18px;
    transition: all 0.3 ease;
    display: none;
}
/* login form page */

.form{
    padding: 25px 30px;
}

.form form .name-details{
    display: flex;
}

.form  .name-details .field:first-child{
    margin-right: 25px;
}

.form .name-details .field:last-child{
    margin-left: 35px;
}

.form form .field{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;
}

.form form .field label{
    margin-bottom: 2px;
}

.form form .input input {
    height: 40px;
    width: 100%;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
    border: 1px var(--color-darker) solid;
}

.form form .image input{
    font-size: 18px;
}


.form form .button input {
    font-size: 18px;
    background-color: var(--color-darker);
    color: #fff;
    border-radius: 5px;
    border: 1px #fff solid;
    cursor: pointer;
}


.form .link{
    display: flex;
    justify-content: center;
}

.form .link a{
    border-radius: 5px;
    border: 1px var(--color-darker) solid;
    padding: 0 5px;
    margin: 0 5px;
    text-decoration: none;
    color: #333;
}

.form .link a:hover{
    transition: 1s ease-in;
    color: var(--color-red) ;
}




.wrapper .nav img{
    object-fit: contain;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.wrapper .nav li{
    color: #fff;
    margin: 10px 30px;
}


/* USER AREA */
.users {
   padding: 5px 30px ;
  
}

.users header, .users-list a{
    display: flex;
    align-items: center;    
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-darker);
}

.wrapper img{
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}
:is(.users header, .users-list a ) .content{
    display: flex;
    align-items: center;
}


.users header .content img{
    width: 50px;
    height: 50px;
    
}


:is(.users header, .users-list ) .details span{
    font-size: 16px;
    font-weight: 600;
    color: var(--color-darker);
}

:is(.users header, .users-list ) .details p{
    color: #333;
}

.users .logout{
    background: var(--color-red);
    font-size: 16px;
    border: 1px solid var(--color-red);
    border-radius: 5px;
    color: #fff;
    padding: 7px 15px;
    border: 1px solid var(--color-red);

}

.users .search{
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
         
}

.users .search .text{
    font-size: 18px;
    color: #fff;
}




.users .search input{
    position: absolute;
    height: 42px;
    width: calc(100% - 50px);
    border: 1px solid var(--color-darker);
    border-radius: 5px 0 0 5px;
    padding: 0 13px;
    font-size: 16px;
    outline: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5 ease-out;

}

.users .search input.active{
    opacity: 1;
    pointer-events: auto;
    
}
.users .search button{
    color: var(--color-darker );
    height: 44px;
    width: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    background-color:#fff;
    border-radius: 0 5px 5px 0;
    transition: all 0.3 ease-out;
}

.users .search button.active{
    color: #fff;
    background: var(--color-darker);     
}

.users .search button.active i::before{
    content: "\f00d";
}

.users-list{
    max-height: 350px;
    overflow-y: auto;
}

.users-list::-webkit-scrollbar{
    display: none;
}

.users-list a{
    padding-right: 20px;
    padding-bottom: 15px ;
    margin-bottom: 10px;
    border-bottom-color: #f1f1f1 ;

}

.users-list a:last-child{
    border: none;
    margin-bottom: 0px;
}

.users-list a .status{
    font-size: 15px;
    color: #468669;
   
}

/* This will check the selector to offline when selected */
.users-list a .status.offline{
    color: #ccc;
}

.users-list a .content img{
    width: 50px;
    height: 50px;
}

/* CHAT AREA Styling */

.chat-area header{
    display: flex;
    align-items: center;  
    padding: 5px 30px ;  
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-darker);
}

.chat-area header span{
    font-size: 18px;
    font-weight: 600;
}

.chat-area header .content img{
    width: 50px;
    height: 50px;
    margin-left: 0;

}
.chat-area header i{
    margin-right: 10px;
    color: #333;
    
}


.chat-area header  .logout{
    background: var(--color-red);
    font-size: 16px;
    border: 1px solid var(--color-red);
    border-radius: 5px;
    color: #fff;
    padding: 7px 15px;
    border: 1px solid var(--color-red);

}

 
.chat-area header .content{
    display: flex;
    align-items: center;
}

.chat-area header p{
    color: #468669;

}

.chat-area .chat{
    margin: 15px 0;
}

.chat-box{
    padding: 10px 30px 20px 30px ;
    height: 400px;
    background: #f7f7f7;
    overflow-y: auto;
    border-radius: 20px;
}
.chat-box::-webkit-scrollbar{
    display: none;
}

.chat-box .outgoing{
    display: flex;
}



.outgoing .details{
    max-width: calc(100% - 130px);
    margin-left: auto;
}

.outgoing .details p{
    background: #333;
    color: #fff;
    border-radius: 18px 18px 0 18px;
}
.chat-box .chat{
    margin: 15px 0;
}

.chat-box .chat p{
    padding: 8px 16px;
    box-shadow: 0 0 32px rgb( 0 0 0 /8%),
                0 16px 16px -1px rgb(0 0 0 /10%);
}

.chat-box .incoming{
    display: flex;
    align-items: flex-end;
}


.chat-box .incoming img{
    width: 40px;
    height: 40px;
} 

.incoming .details{
    margin-left: 10px;
}

.incoming .details{
    max-width: calc(100% - 150px);
   
    
}

.incoming .details p{
    color: #333;
    background: #fff;
    margin-left: auto;
    margin-right: auto;
    border-radius: 18px 18px 18px 0px;
}

.chat-area .typing-area{
    padding: 18px 30px;
}

.chat-area .typing-area input{
    height: 42px;
    width: calc(100% - 50px);
    font-size: 16px;
    border: 1px solid var(--color-darker);
    border-radius: 5px 0 0 5px;
    margin-right: 0;
}


.chat-area .typing-area button{
    border: none;
    outline: none;
    height: 42px;
    color: #fff;
    width: 45px;
    font-size: 25px;
    margin-left: 0;
    border-radius: 0 5px 5px 0;
    background-color: var(--color-darker);
    cursor: pointer;
}


/* GROUP CHAT STYLE */